<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<!-- <form action="/users/create" method="post" accept-charset="UTF-8">
  <input type="text"name="user[username]" placeholder="Username"><br><br>
  <input type="text"name="user[email]" placeholder="Email"><br><br>
  <input type="password"name="user[password]" placeholder="Password"><br><br>
  <input type="submit" value="Submit">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> -->
<%= form_tag("/users/create", method: "post") do %>
  <%= text_field_tag :username placeholder: 'username'%>
  <%= submit_tag("") %>
<% end %>